apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:latest  # Mantido como nginx:latest
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/conf.d/default.conf  # Montar o arquivo default.conf diretamente
              subPath: default.conf  # Especificando que estamos montando um arquivo único e não um diretório
      volumes:
        - name: nginx-config
          configMap:
            name: nginx-config  # Nome do ConfigMap que contém o default.conf
