name: CI - Build & Push Docker

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install deps
        run: |
          cd back
          if [ -f package-lock.json ]; then
            npm ci
          else
            npm install
          fi

      - name: Run tests (se houver)
        run: |
          if npm run | grep -q "test"; then
            npm test
          else
            echo "Sem script de teste. Pulando etapa."
          fi

      - name: Set image tags
        id: vars
        run: |
          echo "IMAGE=anttonys/monitor" >> $GITHUB_OUTPUT
          echo "TAG_SHA=${GITHUB_SHA}" >> $GITHUB_OUTPUT

      - name: Login to DockerHub
        run: echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      # - name: Login to DockerHub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Check Docker Info
        run: docker info

      - name: Debug image and tag
        run: |
          echo "IMAGE: ${{ steps.vars.outputs.IMAGE }}"
          echo "TAG_SHA: ${{ steps.vars.outputs.TAG_SHA }}"

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./back
          file: ./back/Dockerfile
          push: true
          tags: |
            anttonys/monitor:latest
            anttonys/monitor:${{ steps.vars.outputs.TAG_SHA }}

            